services:

  backend-service:
    build:
      context: ./
      dockerfile: backend-service.dockerfile
    # restart: always
    ports:
      - "30000:3000"
    environment:
      MONGO_URI: mongodb://admin:password@mongo:27017/mydb?authSource=admin
    depends_on:
      - mongo
    networks:
      - app-network

  mongo:
    image: mongo
    ports:
      - "27017:27017"

    # restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network
      
networks:
  app-network:
    driver: bridge
volumes:
  mongo_data:
